/api/metadata-config:
  post:
    tags:
      - "config-controller"
    summary: "update backend config"
    description: "update backend config"
    operationId: "updateMetadataConfig"
    requestBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Config"
      required: false
    responses:
      "200":
        description: OK
        content: {}
      "400":
        description: Bad Request
        content: {}
      "401":
        description: Unauthorized
        content: {}
      "403":
        description: Forbidden
        content: {}
components:
  schemas:
    Config:
      type: "object"
      properties:
        metadataIndexName:
          type: "string"
          description: "name of the metadata index"
        extendedMetadataIndexName:
          type: "string"
          description: "name of the internal metadata index"
        customConfig:
          type: object
          additionalProperties:
            type: object
        fieldProperties:
          type: array
          items:
            type: "object"
            properties:
              fieldName:
                type: "string"
                description: "field name of this properties"
                example: "about"
              vocabIdentifier:
                type: "string"
                description: "if using a controlled vocabulary for this field, the identifier of this vocabulary"
                example: "hochschulfaechersystematik"
              vocabItemIdentifierField:
                type: "string"
                description: "if vocabulary items are identified by a field in the object, specify the field here. If using raw string identifier, don't set a value here."
                example: "id"
              vocabItemLabelField:
                type: "string"
                description: "if vocabulary items have a field for labels, specify it here."
                example: "prefLabel"
              addMissingVocabParents:
                type: "boolean"
                description: "activate/deactivate if missing parents of hierarchical vocabulary items should be added automatically"
                example: true
              addMissingVocabLabels:
                type: "boolean"
                description: "activate/deactivate if missing labels of vocabulary items should be added automatically"
                example: true
        defaultFieldProperties:
          type: "object"
          properties:
            vocabItemIdentifierField:
              type: "string"
              description: "if vocabulary items are identified by a field in the object, specify the field here. Will be used for all fieldProperties without this information."
              example: "id"
            vocabItemLabelField:
              type: "string"
              description: "if vocabulary items have a field for labels, specify it here. Will be used for all fieldProperties without this information."
              example: "prefLabel"
        metadataBlacklist:
          type: "array"
          description: "a list of resource identifiers that should be blacklisted"
          items:
            type: "string"
            description: "resource identifier that should be blacklisted"
